html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0 auto;
  text-align: center; 
  padding-top: 120px;
  text-shadow: 0.75px 1px 1.5px #2f3036;
  }

a {
  text-decoration: none;
}

nav.topnav {
  z-index: 150;
  text-shadow: 0 1px 0 #919295;
  width: 100%;
  position: fixed;
  margin-top: -119px;
  background-color: #2f3036;
}
nav.topnav ul#menu {
  list-style-type: none;
  padding: 0;
  position: absolute; 
}

nav.topnav ul#menu a, nav.topnav ul#menu li#contactme, nav.topnav li:hover ul#menu a {
  display: block;
  min-width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #2f3036;
  background: -webkit-linear-gradient(right, #aea4e3, #d3ffe8);
  background: -o-linear-gradient(right, #aea4e3, #d3ffe8);
  background: linear-gradient(to left, #aea4e3, #d3ffe8);
  text-decoration: none; 
}

nav.topnav ul#menu a:hover, nav.topnav ul#menu li#contactme:hover {
  background: -webkit-linear-gradient(left, #aea4e3, #d3ffe8);
  background: -o-linear-gradient(left, #aea4e3, #d3ffe8);
  background: linear-gradient(to right, #aea4e3, #d3ffe8);
 }
nav.topnav ul#menu li#contactme {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-color: #ccaa00;
  cursor: pointer; 
}

.showMenu {
font-family: "Open Sans", Helvetica, sans-serif;
text-decoration: none;
color: #f3f3f3;
text-shadow: 0.75px 1px 0.5px gray;
background: #2f3036;
text-align: center;
padding: 0.5em 0;
display: none; 
cursor: pointer;
box-shadow: 1px 1px 10px #2f3036;
}

label {
  font-size: 3em;
  line-height: 0.5;
}

span.smallish {
  font-size: 0.3em;
  padding: 0;
}

input[type=checkbox] {
  display: none; 
}

input[type=checkbox]:checked ~ #menu {
  display: block;
}

nav.topnav ul#menu {
  position: static;
  display: none;
  margin: 0; }
nav.topnav ul#menu li {
  box-shadow: inset 0px 0px 1px gray;
  }
nav.topnav ul#menu li, nav.topnav li a {
  width: 100%; 
  box-shadow: inset 0px 0px 1px gray;
}
nav.topnav .showMenu {
  display: block; }

h1 {
  font-size: 3em;
  margin: 0.5em 0;
}

h1#grader {
  color: #f3f3f3;
}

table {
  margin: 2em auto;
}

form {
  font-size: 1.5em;
  margin: -1.15em 0 0;
  color: #f3f3f3;
}

div#machine, div#gradebookContainer {
  margin: 1px 0;
  padding: 0.25em 0;
  box-shadow: -1px 1px 10px gray;
}

div#machine {
background: -moz-linear-gradient(267deg, #3E86FA 0%, #477AE5 11%, #911D44 98%, #911D44 99%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3E86FA), color-stop(11%, #477AE5), color-stop(98%, #911D44), color-stop(99%, #911D44)); 
background: -webkit-linear-gradient(267deg, #3E86FA 0%, #477AE5 11%, #911D44 98%, #911D44 99%);
background: -o-linear-gradient(267deg, #3E86FA 0%, #477AE5 11%, #911D44 98%, #911D44 99%); 
background: -ms-linear-gradient(267deg, #3E86FA 0%, #477AE5 11%, #911D44 98%, #911D44 99%); 
background: linear-gradient(183deg, #3E86FA 0%, #477AE5 11%, #911D44 98%, #911D44 99%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E86FA', endColorstr='#911D44',GradientType=0 );  

}

div#gradebookContainer {

background: -moz-linear-gradient(267deg, #FAEB1E 0%, #FADE1F 11%, #FC7A28 98%, #FC7A28 99%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAEB1E), color-stop(11%, #FADE1F), color-stop(98%, #FC7A28), color-stop(99%, #FC7A28)); 
background: -webkit-linear-gradient(267deg, #FAEB1E 0%, #FADE1F 11%, #FC7A28 98%, #FC7A28 99%); 
background: -o-linear-gradient(267deg, #FAEB1E 0%, #FADE1F 11%, #FC7A28 98%, #FC7A28 99%); 
background: -ms-linear-gradient(267deg, #FAEB1E 0%, #FADE1F 11%, #FC7A28 98%, #FC7A28 99%); 
background: linear-gradient(183deg, #FAEB1E 0%, #FADE1F 11%, #FC7A28 98%, #FC7A28 99%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAEB1E', endColorstr='#FC7A28',GradientType=0 ); 

}

div#gradebookContainer h1 {
  color: #f3f3f3;
}

input#grade {
  font-size: 3em;
  background-color: aliceblue;
  width: 3.5em;
  margin: 0 auto;
  text-align: right;
}

button {
  border-radius: 5px;
  line-height: 1.3;
  transition: all 0.3s;
  margin: 10px auto;
  text-shadow: 0.75px 1px 0.5px #2f3036;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #f3f3f3;
  background: #2EBAE3;
  border: 0px solid;
  box-shadow: -1px 1.75px 4px #2f3036;
  overflow: visible;
  cursor: pointer;
  display: block;
  width: 75%;
  padding: 1em;
  font-size: 1.5em;
  font-weight: bold;
}

button:hover, button:focus{
  background: #a3d8e7;
}

button:active {
  background: #2A7F98;
}

button:focus {
  outline-color: #a3d8e7;
}

#add, #subtract {
  width: 2em;
  padding: 0;
  height: 2em;
  font-size: 5em;
  margin: 0.1em 0 0.5em;
  display: inline-block;
}

#add {
  background: #57DB39;
}
#add:hover, #add:focus {
  background: #b6f0a9;
}

#add:active {
  background: #42ae2a;
}

#subtract {
  background: #E74848;
}

#subtract:hover, #subtract:focus {
  background: #f4a0a0;
}

#subtract:active {
  background: #9a1b1b;
}

input {
  width: 50%;
  padding: 7px 7px;
  margin: 8px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-sizing: border-box;
  border-radius: 3px;
  border: solid 2px lightgray;
  font-size: 1em;
}

input:focus {
  background: #daf5fd;
  outline-color: lightgray;
  border: 2px solid #2f3036;
  color: #2f3036;
}

#tally, #totalPoints {
  width: 3em;
}

table {
  width: 75%;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: 0px 0px 10px #2f3036;
  text-shadow: 0.75px 1px 0.5px gray;
}

tr {
  background: #2EBAE3;

}

tr:nth-child(even) {
  background: #bcd4db;
}

tr#tableHead {
  background: #347c92;
  color: #f3f3f3;
  text-shadow: 0.75px 1px 0.5px #2f3036;
}

td, th {
  padding: 10px;
}

nav.topnav ul#menu li#copy, nav.topnav ul#menu li.pay a {
  height: 100%;
  line-height: 1;
  margin: 0 auto;
  text-align: center;
  width: auto;
  padding: 20px;
  background: -moz-linear-gradient(359deg, #B2DB40 0%, #00960D 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #B2DB40), color-stop(100%, #00960D)); /* safari4+,chrome */
  background: -webkit-linear-gradient(359deg, #B2DB40 0%, #00960D 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(359deg, #B2DB40 0%, #00960D 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(359deg, #B2DB40 0%, #00960D 100%); /* ie10+ */
  background: linear-gradient(91deg, #B2DB40 0%, #00960D 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B2DB40', endColorstr='#00960D',GradientType=1 ); /* ie6-9 */
}

nav.topnav ul#menu li.pay a:hover {
  background: -moz-linear-gradient(180deg, #DBB127 0%, #5AA30B 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%, #5AA30B), color-stop(100%, #DBB127)); /* safari4+,chrome */
background: -webkit-linear-gradient(180deg, #DBB127 0%, #5AA30B 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(180deg, #DBB127 0%, #5AA30B 100%); /* opera 11.10+ */
background: -ms-linear-gradient(180deg, #DBB127 0%, #5AA30B 100%); /* ie10+ */
background: linear-gradient(270deg, #DBB127 0%, #5AA30B 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5AA30B', endColorstr='#DBB127',GradientType=1 ); /* ie6-9 */
}

nav.topnav ul#menu li#copy {
  text-align: left;
  padding: 20px 150px;
  background: lightgray;
}

@media screen and (max-width: 580px) {
  table {
    width: 100%;
    word-wrap: break-word;
    font-size: 0.75em;
  }
  div#machine, div#gradebookContainer {
    border-radius: 0px;
  }
  button {
    width: 95%;
  }
  nav.topnav ul#menu li#copy {
   padding: 20px 20px;
  }
  input {
    width: 95%;
  }
  i.fa-file-text-o, i.fa-user {
    display: none;
  }
  label {
    font-size: 2.25em;
  }
  body {
    padding-top: 90px;
  }
  nav.topnav {
    margin-top: -89px;   
  }

}